<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>软考管理系统</title>

    <link rel="stylesheet" th:href="@{/jquery-easyui-1.5.2/themes/default/easyui.css}" />
    <link rel="stylesheet" th:href="@{/jquery-easyui-1.5.2/themes/icon.css}" />
    <link rel="stylesheet" th:href="@{/jquery-easyui-1.5.2/themes/color.css}" />

    <script th:src="@{/jquery-easyui-1.5.2/jquery.min.js}"></script>
    <script th:src="@{/jquery-easyui-1.5.2/jquery.easyui.min.js}"></script>

    <script th:src="@{/js/sys/sys.js}"></script>

    <script th:src="@{/js/baseutil/baseutil.js}"></script>
    <script th:src="@{/js/baseutil/date_util.js}"></script>

</head>
<script>
    var strFullPath=window.document.location.href;
    var strPath=window.document.location.pathname;
    var systemNamePath = strFullPath.replace(strPath,"")+"/web";
    /**去掉前后的空格**/
    String.prototype.trim = function() {
        return this.replace(/^\s+|\s+$/g, "");
    };

</script>

<body class="easyui-layout" style="padding-left: 2px;">
        <div data-options="region:'north',split:true" style="height:60px">
            <img th:attr="src=@{/images/banner.gif}" />
            <!--<link rel="shortcut icon" th:href="@{/images/banner.gif}" type="image/gif" />-->
        </div>
        <div data-options="region:'west',split:true" title="权限管理系统" style="width:180px;">
            <div th:include="sys/tree::sys-tree"></div>
        </div>
        <div data-options="region:'south',split:true" style="height:30px;text-align: right; padding-right: 10px;padding-top: 3px;" >北京球球兔信息科技有限公司  CopyRight 2013-2015</div>
        <div id="sys-main-tab" data-options="region:'center'" class="easyui-tabs" style="width:100%;height:100%">
            <div title="系统欢迎页" data-options="closable:true" style="padding:10px">
                <p style="font-size:14px">欢迎你使用***客户信息管理系统</p>
            </div>
        </div>

</body>
</html>
