<form id="choicequestionAddForm" method="post" action= "/choicequestion/save" >
    <table>
        <tr>
            <td>题目描述：</td>
            <td colspan="3">
                <input class="easyui-textbox" name="choicequestionname" data-options="multiline:true" style="width:800px;height:100px"></input>
            </td>
        </tr>
        <tr>
            <td>答案A：</td>
            <td>
                <input class="easyui-textbox" name="answera" data-options="multiline:true" style="width:800px;height:40px"></input>
            </td>
        </tr>
        <tr>
            <td>答案B：</td>
            <td>
                <input class="easyui-textbox" name="answerb" data-options="multiline:true" style="width:800px;height:40px"></input>
            </td>
        </tr>
        <tr>
            <td>答案C：</td>
            <td>
                <input class="easyui-textbox" name="answerc" data-options="multiline:true" style="width:800px;height:40px"></input>
            </td>
        </tr>
        <tr>
            <td>答案D：</td>
            <td> <input class="easyui-textbox" name="answerd" data-options="multiline:true" style="width:800px;height:40px"></input></td>
        </tr>
        <tr>
            <td>参考答案：</td>
            <td>
                <select class="easyui-combobox" name="realanswer" style="width: 300px">
                    <option value="" selected="true">--请选择--</option>
                    <option value="A"> A </option>
                    <option value="B"> B </option>
                    <option value="C"> C </option>
                    <option value="D"> D </option>
                </select>
            </td>
        </tr>
        <tr>
            <td>所属科目</td>
            <td id="cslectid">
                <!--<select id="sb1" style="width: 180px" name="sublevel1">-->
                    <!--<option value="">&#45;&#45;请选择&#45;&#45;</option>-->
                    <!--<option th:each="subject:${subjects}"  th:value="${subject.subjectid}" th:text="${subject.subjectname}" ></option>-->
                <!--</select>-->
                <!--<select id="sb2" style="width: 180px" name="sublevel2"></select>-->
                <!--<select id="sb3" style="width: 180px" name="sublevel3"></select>-->

                <input id="cc1" class="easyui-combobox" style="width: 180px" name="sublevel1"
                       data-options="valueField: 'subjectid',textField: 'subjectname',
                        url: '/web/subject/findSubjectBypid/rootid',
                        onSelect: function(rec){
                            var url = '/web/subject/findSubjectBypid/'+rec.subjectid;
                            $('#cc2').combobox('reload', url);
                },panelHeight:'auto' "
                />
                <input id="cc2" class="easyui-combobox" style="width: 180px" name="sublevel2"
                        data-options="valueField:'subjectid',textField:'subjectname',
                        onSelect:function(rec){
                            var url = '/web/subject/findSubjectBypid/'+rec.subjectid;
                            $('#cc3').combobox('reload', url);
                        },panelHeight:'auto' "
                />
                <input id="cc3" class="easyui-combobox" style="width: 180px" name="sublevel3"
                        data-options="valueField:'subjectid',textField:'subjectname'" >
                </input>
            </td>
        </tr>
        <tr>
            <td>所属考年：</td>
            <td>
                <select id="cc4" class="easyui-combobox" style="width: 180px" name="moniname" data-options="
                valueField: 'moniname',
                textField: 'moniname',
                url: '/web/moniyear/viewlist'"
                >
                </select>
            </td>
        </tr>
        <tr>
            <td>习题详解：</td>
            <td>
                <input class="easyui-textbox" name="explain" data-options="multiline:true" style="width:800px;height:100px"></input>
            </td>
        </tr>
    </table>
</form>
<div style="text-align:center;padding:5px">
    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()">保存</a>
</div>


<script th:inline="javascript">
    <!--

    function submitForm(){
        var choicequestionname=$("input[name=choicequestionname]");
        var answera=$("input[name=answera]");
        var answerb=$("input[name=answerb]");
        var answerc=$("input[name=answerc]");
        var answerd=$("input[name=answerd]");
        var realanswer=$("input[name=realanswer]");

        $('#choicequestionAddForm').form('submit',{
            url:systemNamePath+"/choicequestion/save",
            onSubmit:function(){
                if(choicequestionname.val() == null || choicequestionname.val() == '')
                {
                    $.messager.alert('提示','题目描述不能为空！');
                    choicequestionname.focus();
                    return false;
                }

                if(answera.val() == null || answera.val() == '')
                {
                    $.messager.alert('提示','请填写，答案A！');
                    answera.focus();
                    return false;
                }

                if(answerb.val() == null || answerb.val() == '')
                {
                    $.messager.alert('提示','请填写，答案B！');
                    answerb.focus();
                    return false;
                }

                if(answerc.val() == null || answerc.val() == '')
                {
                    $.messager.alert('提示','请填写，答案C！');
                    answerc.focus();
                    return false;
                }

                if(answerd.val() == null || answerd.val() == '')
                {
                    $.messager.alert('提示','请填写，答案D！');
                    answerd.focus();
                    return false;
                }

                if(realanswer.val() == null || realanswer.val() == '')
                {
                    $.messager.alert('提示','请填写正确答案！');
                    realanswer.focus();
                    return false;
                }

                //获取下拉框选中项的value属性值
                var sublevel1 = $('#cc1').combobox('getValue');
                var sublevel2 = $('#cc2').combobox('getValue');
                var sublevel3 = $('#cc3').combobox('getValue');

                if(""==sublevel1 || ""==sublevel2 || ""==sublevel3 ){
                    $.messager.alert('提示','请选择详细的科目');
                    return false;
                }



            },
            success:function(data){
                var obj = baseutil.toJSON(data);
                if(obj.code == baseutil.mess_succ ){
                    $("#choicequestion_win_add").dialog("destroy");
                    $('#choicequestionlist').datagrid('load');
                }else{
                    $.messager.alert('提示',obj.mdesc);
                    $("#choicequestion_win_add").dialog("destroy");
                }

            }
        });


    }
    -->
</script>